NODE_ENV= #Ambiente da Aplicação [development, production]
NODE_TLS_REJECT_UNAUTHORIZED=0
TZ= # TimeZone [America/Sao_Paulo]
DEVELOP_LOG_LEVEL= # Nível de log para desenvolvimento [debug]. Se Produção será verbose. levels: error, warn, info, http, verbose, debug, silly
LOGS_DIR= # Diretório de log no container [/var/log/backend]


PROJECT_NAME= #Nome do Projeto [calango-devops]

# Backend
BACKEND_NAME= #Nome do Backend do Projeto [calango-devops-backend]
BACKEND_VERSION= #Versão do Backend do Projeto [0.0.1]
BACKEND_URL= #URL do Backend do Projeto [http://localhost]
BACKEND_PORT= #Porta do Backend do Projeto [5000]

# Auth
AUTH_SECRET= #Chave Secret a ser usada para gerar Tokens de Acesso (Mínimo de 16 Caracteres)
AUTH_EXPIRESIN= #Tempo para que o Tokens de Acesso Expire [7d]

# Mongo
MONGO_HOST= #Host do MongoDB [27017]
MONGO_PORT= #Porta do MongoDB [27017]
MONGO_ROOT_USER= #Usuario do MongoDB
MONGO_ROOT_PASS= #Senha do MongoDB
MONGO_DB_NAME= #Nome da base de dados do projeto no MongoDB [calango-devops]
